.gold {
    color: #C8A96E;
}

.charcoal {
    color:#1A1A18;
}

.cream {
    color: #F5F0E8;
}

.leather {
    color: #3D3830;
}

.font-body {
    font-family: 'Roboto', sans-serif;
}

.font-heading {
    font-family: 'Oswald', sans-serif;
}